main{
    display: flex;
    justify-content: center;
}
#workout-calender{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin-top: 60px;
    
}
.week{
    
}
.day.workout{
    border: 1px solid rgb(94, 94, 94);
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 3px;
    background-color: crimson;
}
.dropdown[data-did="true"]{
    background-color: green;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 260px;
    min-height: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content .info{

}

.dropdown:hover .dropdown-content {
    display: block;
}

