main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#workout-calender{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    flex-wrap: wrap;
    width: 100vw;
    
    justify-content: center;
    
}
.day.workout{
    border: 1px solid rgb(94, 94, 94);
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 3px;
    background-color: rgb(236, 236, 236);
    border-radius: 6px;
    
}
.dropdown[data-did="true"]{
    background-color: rgb(60, 194, 78);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: max-content;
    top: 40px;
    z-index: 1;
    padding: 10px;
}
.month{
    margin: 20px;
    width: 250px;
    display: flex;
    
    
    flex-direction: column;
}
.dropdown:hover .dropdown-content {
    display: block;
    cursor: default;
}
.month-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.week{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
}
.day-names{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.day-name{
    width: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
button#addToday{
    margin-top: 40px;
    padding: 10px 30px;
    background-color: rgb(73, 95, 138);
    color: azure;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    cursor: pointer;
}
button#clearToday{
    margin-top: 20px;
    padding: 10px 30px;
    background-color: rgb(58, 58, 58);
    color: rgb(224, 224, 224);
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    cursor: pointer;
}
#log-form-wrapper{
    z-index: 2;
    position: fixed;
    top: -800px;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 174, 192);
    padding: 30px;
    width: 90vw;
    height: 80vh;
    max-width: 500px;
    max-height: 500px;
    border-radius: 12px;
    font-size: large;
    transition: top 0.7s;
}
form#add-log-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
#log-form-wrapper.open{
    top: 50vh;
}
.property-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.property-label{
    margin-bottom: 10px;
}
.input-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.property-input{
    max-width: 300px;
    height: 40px;
    width: 160%;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: large;
    padding-left: 10px;
    padding-top: 5px;
}
.property-errors{
    color: rgb(230, 69, 69);
    padding: 10px;
}
button#addDayWorkout{
    margin-top: 30px;
    align-self: center;
    padding: 10px 30px;
    background-color: rgb(73, 95, 138);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    border: none;
    outline: none;
    border-radius: 12px;
    color: azure;
    cursor: pointer;
}
.grey-shade-form{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.grey-shade-form.active{
    display: block;
}
@media (max-width: 600px){
    #workout-calender{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1160px){
    #workout-calender{
        width: 80vw;
        justify-content: center;
    }
}
