@model List<DayLogModel>;
@{
    ViewData["Title"] = "MBA";
    DateOnly sixteenWeeksAgo = DateOnly.FromDateTime(DateTime.Now).AddDays(-111);
}

@section Styles {
    <link rel="stylesheet" href="~/css/log/index.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/js/log/index.js" asp-append-version="true"></script>
}
<div id="log-calender" class="calender">
    @for (int i = 0; i < 16; i++)
    {
        <div class="week">
            @for (int j = 0; j < 7; j++)
            {
                int day = i*7 + j;
                Console.WriteLine(day);
                if(@Model[day].HasLog)
                {
                    <div class="day log dropdown" data-did="true" data-date="@sixteenWeeksAgo.AddDays(day)">
                        <div class="dropdown-content">
                            @foreach(var log in Model[day].Logs)
                            {
                                <span class="title info">
                                    @log.Title
                                </span>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="day log dropdown" data-did="false" data-date="@sixteenWeeksAgo.AddDays(day)">

                    </div>
                }
                
            }
        </div>
    }
</div>
<h2></h2>