/* _content/BulletJournaling.AppMVC/Views/Shared/_Layout.cshtml.rz.scp.css */


.footer[b-tdpulszujl] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
