@using BulletJournaling.AppMVC.Data.DatabaseModels;
@model Lesson;




<input asp-for="Id" hidden>
<label asp-for="LessonContext" class="property-label"></label>
<textarea asp-for="LessonContext" placeholder="You can write a lesson you learned today here:"></textarea>
<span asp-validation-for="LessonContext" class="property-errors"></span>
