@using BulletJournaling.AppMVC.Data.DatabaseModels;
@model Mba;


<form id="add-log-form" asp-controller="Mba" asp-action="AddToday">
    <div asp-validation-summary="ModelOnly" class="property-errors"></div>
    <div class="property-wrapper">
        <label asp-for="Type" class="property-label"></label>
        <div class="input-wrapper">
            <input asp-for="Type" placeholder="Type" class="property-input">
            <span asp-validation-for="Type" class="property-errors"></span>
        </div>
    </div>
    <div class="property-wrapper">
        <label asp-for="Part" class="property-label"></label>
        <div class="input-wrapper">
            <input asp-for="Part" placeholder="Part" class="property-input"></input>
            <span asp-validation-for="Part" class="property-errors"></span>
        </div>
    </div>
</form>
<button id="addDayLesson">Add</button>
