@model LessonModel;




<input asp-for="Id" hidden>
<label asp-for="Lesson" class="property-label"></label>
<textarea asp-for="Lesson" placeholder="You can write the lesson you learned today here:"></textarea>
<span asp-validation-for="Lesson" class="property-errors"></span>
