<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BulletJournaling.AppMVC.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav id="main-nav">
            <div id="logo">
                <a class="logo" asp-controller="Home" asp-action="Index">Murder</a>
            </div>
            <span style="font-size:30px;cursor:pointer" class="openbtn" onclick="openNav()">&#9776;</span>
            <div class="links-wrapper">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class="nav-link" asp-action="Index" asp-controller="Smoking">Smoking</a>
                <a class="nav-link" asp-action="Index" asp-controller="Workout">Workout</a>
                <a class="nav-link" asp-action="Index" asp-controller="Mba">MBA</a>
                <a class="nav-link" asp-action="Index" asp-controller="Log">Log</a>
                <a href="" class="nav-link">Breakfast</a>
            </div>
            <div class="auth-wrapper">
                <partial name="_LoginPartial" />
            </div>
        </nav>
        <div id="grey-shade"></div>
    </header>
    <div id="register-wrapper">
        <partial name="_RegisterFormPartial" model="new RegistrationModel
        {
            Email = string.Empty,
            Password = string.Empty,
            ConfirmPassword = string.Empty,
            FirstName = string.Empty,
            LastName = string.Empty
        }" />
    </div>
    <div id="login-wrapper">
        <partial name="_LoginFormPartial" model="new LoginModel
        {
            Username= string.Empty,
            Password= string.Empty,
            RememberMe= false
        }"/>
    </div>
    <div id="register-grey"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BulletJournaling.AppMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
