
@using BulletJournaling.AppMVC.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@* @inject UserManager<AppUser> UserManager *@


@if (SignInManager.IsSignedIn(User))
{
    <a href="#">@User.Identity?.Name</a>
    <form asp-controller="Auth" asp-action="Logout" asp-route-returnUrl='@Url.Action("Index", "Home" )'>
        <button type="submit">Logout</button>
    </form>
}
else
{
    <a id="login" class="nav-link" href="#">Signin</a>
    <a id="register" class="nav-link" href="#">Register</a>
}

