@model LoginModel;

    <form id="login-form" asp-controller="Auth" asp-action="Login"  method="post">
        <div asp-validation-summary="All" class="property-errors"></div>
        <input hidden asp-for="LoginInvalid">
        <div class="register-input-wrapper">
            <label asp-for="UserName" class="property-label"></label>
            <div class="input-wrapper">
                <input asp-for="UserName" placeholder="User name" class="property-input">
                <span asp-validation-for="UserName" class="property-errors" hidden></span>
            </div>
        </div>
        <div class="register-input-wrapper">
            <label asp-for="Password" class="property-label"></label>
            <div class="input-wrapper">
                <input asp-for="Password" placeholder="Password" class="property-input"></input>
                <span asp-validation-for="Password" class="property-errors" hidden></span>
            </div>
        </div>
        <div class="register-input-wrapper">
            <div class="input-wrapper">
                <input asp-for="RememberMe" class="property-input">
            </div>
            <label asp-for="RememberMe" class="property-label"></label>
        </div>
    </form>
    <button id="login">Login</button>