main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* #log-calender{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin-top: 60px;
    
} */
#log-calender{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    flex-wrap: wrap;
    width: 100vw;
    
    justify-content: center;
    
}
.day.log{
    border: 1px solid rgb(94, 94, 94);
}
.day.log:focus{
    outline: 2px solid black;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 3px;
    background-color: crimson;
    border-radius: 6px;
    
}
.dropdown[data-did="true"]{
    background-color: green;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: max-content;
    top: 40px;
    z-index: 1;
    padding: 6px;
}
.month{
    margin: 20px;
    width: 250px;
    display: flex;
    
    
    flex-direction: column;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.month-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.week{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
}
.day-names{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.day-name{
    width: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
.logs-content{
    display: none;
}
#day-activites{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    font-size: large;
    margin-top: 30px;
}
.important-lesson{
    min-width: 300px;
    max-width: 95vw;
    background-color: rgb(116, 179, 199);
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.deleteLesson{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-left: auto;
    margin-top: 12px;
    cursor: pointer;
}
.deleteLesson img{
    width: 50%;
    height: 50%;
}
.log-header{
    display: flex;
    min-width: 300px;
    max-width: 95vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.log-info{
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    
}
ul.important-lessons{
    display: none;
}
#log-form-wrapper{
    z-index: 2;
    position: fixed;
    top: -800px;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 174, 192);
    padding: 30px;
    width: 90vw;
    height: 80vh;
    max-width: 500px;
    max-height: 500px;
    border-radius: 12px;
    font-size: large;
    transition: top 0.7s;
}
form#add-log-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
#log-form-wrapper.open{
    top: 50vh;
}
.grey-shade-form{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.grey-shade-form.active{
    display: block;
}
button#add-class, button#add-lesson, button#clear-today{
    padding: 10px 20px;
    border-radius: 10px;
    
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}
button#add-class{
    background-color: #8fca94;
    font-size: large;
}
button#clear-today{
    background-color: rgb(44, 44, 44);
    color: azure;
    font-size: 101%;
    margin-top: 20px;
    box-shadow: none;
}
button#add-lesson{
    background-color: rgb(127, 173, 216);
    font-size: 101%;
    margin-top: 25px;
}
label[for= "Lesson"]{
    font-size: larger;
    margin-top: 40px;
}
textarea[name= "Lesson"]{
    outline: none;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid rgb(112, 112, 112);
    width: 105%;
    height: 105%;
    font-size: 105%;
    padding: 6px;
    resize: none;
}
#addLessonWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid black;
    
    width: 90%;
    max-width: 500px;
    
}
@media (max-width: 600px){
    #log-calender{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1160px){
    #log-calender{
        width: 80vw;
        justify-content: center;
    }
    #day-activites{
        align-items: center;
    }
}
