input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#smoking-calender{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    flex-wrap: wrap;
    width: 100vw;
    
    justify-content: center;
    
}
.day.smoking{
    border: 1px solid rgb(94, 94, 94);
}
.day.smoking.low{
    background-color: #8d8d8d;
}
.day.smoking.medium-l{
    background-color: #525252;
}
.day.smoking.medium-h{
    background-color: #2e2e2e;
}
.day.smoking.h{
    background-color: #1f1f1f;
}
.day.smoking.cronic{
    background-color: #000000;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 3px;
    background-color: rgb(80, 218, 99);
    border-radius: 6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: max-content;
    top: 20px;
    z-index: 1;
    
}
.month{
    margin: 20px;
    width: 250px;
    display: flex;
    
    
    flex-direction: column;
}
.dropdown:hover .dropdown-content {
    display: block;
    cursor: default;
}
.month-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.week{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
}
.day-names{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.day-name{
    width: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
#AddSmokingWrapper{
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#add-smokes-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.property-wrapper{
    display: flex;
    align-items: center;
    
    margin: 10px 0;
    min-width: 200px;
    font-size: large;
}
.input-wrapper{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border: none;
    outline: none;
    margin-left: 10px;
}
#yes-text{
    transform: translate(0,-6%);
    margin-left: 5px;
}
#yes-wrapper{
    display: flex;
    align-items: center;
    text-align: center;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input[type="number"]{
    width: 40px;
    border-radius: 6px;
    padding: 2px;
    border: 1px solid black;
}
#saveCigars{
    justify-self: center;
    align-self: center;
    background-color: rgb(56, 56, 56);
    color: azure;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}
@media (max-width: 600px){
    #smoking-calender{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1160px){
    #smoking-calender{
        width: 80vw;
        justify-content: center;
    }
}
